*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: white;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    max-height: 100%;
}
nav{
    padding: 20px;
    height: 7vh;
    background-color: rgb(207, 207, 207);
    border-bottom: 2px solid black;
}
nav ul{
    list-style: none;
    text-align: right;
}
nav ul h1{
    float: left;
    animation: slide3 0.5s ease-in;
}
nav ul h1 a{
    text-decoration: none;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}
nav ul li{
    display: inline;
    margin-right: 3rem;
}
nav ul li a{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    transition: 0.5s;
    padding: 1.2rem;
    border-radius: 1rem;
}
nav ul li a:hover{
    color: white;
    background-color: black;
    border-radius: 2rem;
}
nav ul li .bioData{
    text-decoration: underline;
}
section{
    background-color: whitesmoke;
    height: 87vh;
    overflow: hidden;
    width: 100%;
    text-align: center;
}
section table{
    background-color: white;
    border: 2px solid black;
    margin: 3vh auto 2vh auto;
    height: 70vh;
    width: 30vw;
    animation: slide 1.5s ease;
}
section table tr th img{
    width: 15vw;
    height: 30vh;
}
section table tr{
    border: 2px solid black;
}
section table tr th,td{
    border-bottom: 1px solid black;
    height: 5vh;
}
section table tr td{
    border-left: 1px solid black;
}
section button{
    width: 8vw;
    height: 5vh;
    border-radius: 200px;
    cursor: pointer;
    background-color: white;
    animation: slide2 2.5s ease;
    transition: 0.4s;
    color: white;
}
section button:hover{
    background-color: black;
    color: white;
}
section button a{
    text-decoration: none;
    color: black;
    padding: 30px;
}
section button a:hover{
    color: white;
}
.logo1{
    animation: logo1 3s ease;
}
.logo2{
    animation: logo2 3.5s ease;
}
.logo3{
    animation: logo3 4s ease;
}
.logo4{
    animation: logo4 4.5s ease;
}
@keyframes slide {
    from{
        transform: translateY(-300%);
    }
    to{
        transform: translateY(0);
    }
}
@keyframes slide3{
    from{
        transform: translateX(-150%);
    }
    to{
        transform: translateX(0);
    }
}
@keyframes slide2{
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    75%{
        opacity: 0;
    }
    90%{
        opacity: 0.5;
    }
    95%{
        opacity: 0.75;
    }
    100%{
        opacity: 1;
    }
}
@keyframes logo1 {
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    75%{
        opacity: 0;
    }
    90%{
        opacity: 0.5;
    }
    95%{
        opacity: 0.75;
    }
    100%{
        opacity: 1;
    }
}
@keyframes logo2 {
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    75%{
        opacity: 0;
    }
    90%{
        opacity: 0.5;
    }
    95%{
        opacity: 0.75;
    }
    100%{
        opacity: 1;
    }
}
@keyframes logo3 {
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    75%{
        opacity: 0;
    }
    90%{
        opacity: 0.5;
    }
    95%{
        opacity: 0.75;
    }
    100%{
        opacity: 1;
    }
}
@keyframes logo4 {
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    75%{
        opacity: 0;
    }
    90%{
        opacity: 0.5;
    }
    95%{
        opacity: 0.75;
    }
    100%{
        opacity: 1;
    }
}
footer{
    padding: 20px;
    height: 6vh;
    background-color: rgb(207, 207, 207);
    border-top: 2px solid black;
}
footer ul{
    list-style: none;
    text-align: right;
}
footer ul h2{
    float: left;
    font-size: 1.2rem;
}
footer ul li{
    display: inline;
    margin-right: 15px;
}
footer ul li img{
    width: 1.5vw;
    height: 3vh;
}